/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.green{
    background: green;
    padding: 4px;
    border-radius: 4px;
    color: #fff;
}
.brown{
    background: brown;
    padding: 4px;
    border-radius: 4px;
    color: #fff;
}
.register-button{
    text-align: left;
    font-size: 12px !important;
}
.green{
    background: green;
    padding: 4px;
    border-radius: 4px;
    color: #fff;
}
.brown{
    background: brown;
    padding: 4px;
    border-radius: 4px;
    color: #fff;
}

.register-button{
    text-align: left;
    font-size: 12px !important;
}
.primary{
    background: #303641;
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
}
.success{
    background: green;
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
}
.danger{
    background: brown;
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
}

.warning{
    background: goldenrod;
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
}
.grey{
    background-color: #f5f5f6;
    color: #333 !important;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left !important;
    border-bottom: 1px solid #fff;
}

.light{
    background-color: #f9f9f9;
    color: #a6a7aa !important;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left !important;
    border-bottom: 1px solid #fff;
}